<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:nomedispositivo]} type="text" label="Nome Dispositivo" />
  <:actions>
    <.button>Salvar Dispositivo</.button>
  </:actions>
</.simple_form>
