<.header>
  Editar Dispositivo <%= @dispositivo.id %>
  <:subtitle>Use this form to manage dispositivo records in your database.</:subtitle>
</.header>

<.dispositivo_form changeset={@changeset} action={~p"/dispositivo/#{@dispositivo}"} />

<.back navigate={~p"/dispositivo"}>Voltar para Dispositivos</.back>
