<.header>
  Editar Dispositivo <%= @dispositivo.id %>
</.header>

<.dispositivo_form changeset={@changeset} action={~p"/dispositivo/#{@dispositivo}"} />

<.back navigate={~p"/dispositivo"}>Voltar para Dispositivos</.back>
