<.header>
  Novo Dispositivo
  <:subtitle>Use this form to manage Dispositivo records in your database.</:subtitle>
</.header>

<.dispositivo_form changeset={@changeset} action={~p"/dispositivo"} />

<.back navigate={~p"/dispositivo"}>Voltar para Dispositivos</.back>
