<.header>
  New Evento
  <:subtitle>Use this form to manage evento records in your database.</:subtitle>
</.header>

<.evento_form changeset={@changeset} action={~p"/eventos"} />

<.back navigate={~p"/eventos"}>Back to eventos</.back>
